<p>
  Clicked: {{attrs.counter}} times
  <button onClick={{attrs.increment}}>+</button>
  <button onClick={{attrs.decrement}}>-</button>
  <button onClick={{attrs.incrementIfOdd}}>Increment if odd</button>
</p>
